<aside>
  <div class="aside-main">
    <div class="aside-up">
      <div class="logo">
        <img src="/assets/icons/butterfly-icon.png" style="transform: rotateY(180deg);">
      </div>
      <div class="search">
        <img src="/assets/icons/search-icon.png">
      </div>
      <div class="home" style="background-color: #3f3fff;">
        <img src="/assets/icons/home-icon.png">
      </div>
      <div class="profile">
        <img src="/assets/icons/profile-icon.png">
      </div>
      <div class="document">
        <img src="/assets/icons/document-icon.png">
      </div>
      <div class="user">
        <img src="/assets/icons/user-icon.png">
      </div>
    </div>
    <div class="aside-down">
      <div class="alert">
        <img src="/assets/icons/alert-icon.png">
      </div>
      <div class="logout">
        <img src="/assets/icons/logout-icon.png">
      </div>
    </div>
  </div>
</aside>