$employerColor : #000087;
$employyColor : #2c2cf2;
$totalColor : #6e6eff;
$averageStat : 78;
$topStat : 95;
$meStat : 59;

.statistic-main {
  width: 100%;
  min-height: 100vh;
  padding: 40px 70px 0px 70px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  align-items: flex-start;
  .title {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    .title-up {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      span {
        color: #2929ff;
        font-size: 13px;
      }
      h4 {
        font-size: 22px;
      }
    }
    .title-down {
      width: 100%;
      display: flex;
      flex-direction: row;
      column-gap: 50px;
      align-items: center;
      .stat-box {
        display: flex;
        width: 190px;
        flex-direction: column;
        row-gap: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid #2929ff;
        p {
          font-size: 13px;
        }
        h3 {
          font-size: 24px;
        }
      }
    }
  }
  .contributions {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    .cont-title {
      h2 {
        font-size: 20px;
      }
    }
    .statistic-colors {
      display: flex;
      align-items: center;
      flex-direction: row;
      column-gap: 40px;
      .color-info {
        display: flex;
        align-items: center;
        flex-direction: row;
        column-gap: 10px;
        .circle {
          width: 18px;
          height: 18px;
          border-radius: 50%;
        }
      }
    }
  }
  .peers {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    .peers-title {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      p {
        font-size: 14px;
        color: #606060;
      }
    }
    .peers-stats {
      width: 100%;
      display: flex;
      align-items: top;
      flex-direction: row;
      column-gap: 20px;
      .peers-stats-left {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        .peers-inputs {
          display: flex;
          align-items: center;
          flex-direction: row;
          column-gap: 10px;
          p {
            font-size: 14px;
          }
          select {
            border: none;
            outline: none;
          }
        }
      }
      .peers-stats-right {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: row;
        column-gap: 30px;
        .container,
        .container-top,
        .container-me {
          width: 150px;
          padding: 10px 0;
          color: #fff;
          border-radius: 8px;
          display: flex;
          align-items: center;
          row-gap: 10px;
          flex-direction: column;
          .container-progress {
            position: relative;
            height: 100px;
            width: 100px;
            border-radius: 50%;
            background: conic-gradient(
              #2ffafa 0deg,
              #2ffafa #{3.6 * $averageStat}deg,
              #abffff 0deg);
            display: flex;
            align-items: center;
            justify-content: center;
            &::before {
              content: '';
              position: absolute;
              width: 80px;
              height: 80px;
              border-radius: 50%;
              background-color: #f9f9f9;
            }
            .progress-value {
              position: relative;
              p {
                color: #000;
                font-size: 23px;
              }
            }
          }
          .text {
            p {
              color: #606060;
              font-size: 14px;
            }
          }
        }
        .container-top {
          .container-progress {
            background: conic-gradient(
              #2ffafa 0deg,
              #2ffafa #{3.6 * $topStat}deg,
              #abffff 0deg);
          }
        }
        .container-me {
          .container-progress {
            background: conic-gradient(
              #2ffafa 0deg,
              #2ffafa #{3.6 * $meStat}deg,
              #abffff 0deg);
          }
        }
      }
    }
  }
}