$employerColor : #000087;
$employyColor : #2c2cf2;
$totalColor : #6e6eff;

.statistic-main {
  width: 100%;
  height: 100vh;
  padding: 40px 70px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  align-items: flex-start;
  .title {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    .title-up {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      span {
        color: #2929ff;
        font-size: 13px;
      }
      h4 {
        font-size: 22px;
      }
    }
    .title-down {
      width: 100%;
      display: flex;
      flex-direction: row;
      column-gap: 50px;
      align-items: center;
      .stat-box {
        display: flex;
        width: 190px;
        flex-direction: column;
        row-gap: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid #2929ff;
        p {
          font-size: 13px;
        }
        h3 {
          font-size: 24px;
        }
      }
    }
  }
  .contributions {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    .cont-title {
      h2 {
        font-size: 20px;
      }
    }
    .statistic-colors {
      display: flex;
      align-items: center;
      flex-direction: row;
      column-gap: 40px;
      .color-info {
        display: flex;
        align-items: center;
        flex-direction: row;
        column-gap: 10px;
        .circle {
          width: 18px;
          height: 18px;
          border-radius: 50%;
        }
      }
    }
  }
  .peers {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    .peers-title {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      p {
        font-size: 14px;
        color: #606060;
      }
    }
    .peers-stats {
      width: 100%;
      display: flex;
      align-items: top;
      flex-direction: row;
      column-gap: 30px;
      .peers-stats-left {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        .peers-inputs {
          display: flex;
          align-items: center;
          flex-direction: row;
          column-gap: 10px;
          select {
            border: none;
            outline: none;

          }
        }
      }
    }
  }
}