<div class="strategy-main">
  <div class="title">
    <h2>Retirement Strategy</h2>
  </div>
  <div class="contribution-age">
    <div class="contribution">
      <div class="contr-name">
        <p>Employee Contribution</p>
      </div>
      <div class="progress-main">
        <progress value="12" max="20"></progress>
        <p>12%</p>
      </div>
    </div>
    <div class="contribution">
      <div class="contr-name">
        <p>Retirement Age</p>
      </div>
      <div class="progress-main">
        <progress value="65" max="100"></progress>
        <p>65</p>
      </div>
    </div>
  </div>
  <div class="list">
    <div class="list-box">
      <p>Employer Contribution</p>
      <p>8.4%</p>
    </div>
    <div class="list-box">
      <p>List Rate</p>
      <p>5%</p>
    </div>
  </div>
  <div class="btn">
    <button>Update</button>
    <p>View Help Docs ></p>
  </div>
  <div class="bottom-alert">
    <p>
      Are you considering a<br>
      <b>Housing Advance?</b> <br>
      <span>Limited time reduced interest.</span>
    </p>
    <br>
    <a href="#">Learn More ></a>
  </div>
</div>