.user-info-main {
  width: 100%;
  min-width: 250px;
  height: auto;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: flex-start;
  padding: 40px 30px;
  .avatar-name {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 20px;
    .avatar {
      img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .name {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      p {
        color: #797979;
      }
    }
  }
  .balance {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    .balance-title {
      p {
        font-size: 20px;
        font-weight: 500;
        color: #4e4e4e;
        letter-spacing: 0.3px;
      }
    }
    .acc-balance {
      display: flex;
      flex-direction: column;
      row-gap: 6px;
      p {
        color: #797979;
        font-size: 13px;
      }
    }
    .contr-total {
      display: flex;
      flex-direction: column;
      row-gap: 6px;
      .contributions,
      .total {
        display: flex;
        flex-direction: column;
        row-gap: 6px;
        p {
          color: #797979;
          font-size: 13px;
        }
      }
    }
    .btn {
      width: 100%;
      height: auto;
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        column-gap: 8px;
        background-color: #3f3fff;
        color: #fff;
        border: none;
        outline: none;
        padding: 9px 18px;
        border-radius: 7px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background-color: #5757ff;
        }
        &:active {
          background-color: #3f3fff;
          transition: 0s;
        }
        p {
          letter-spacing: 0.3px;
        }
        img {
          width: 9px;
          height: 7px;
          transform: rotate(180deg);
        }
      }
    }
  }
  .transactions {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    .transactions-title {
      p {
        font-size: 20px;
        font-weight: 500;
        color: #4e4e4e;
        letter-spacing: 0.3px;
      }
    }
    .list {
      width: 100%;
      height: auto;
      ul {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        li {
          list-style: none;
          display: flex;
          flex-direction: column;
          row-gap: 5px;
          padding-bottom: 8px;
          border-bottom: 1px solid #cacaca;
          span {
            font-size: 12px;
            color: #797979;
          }
          p {
            font-weight: 700;
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media (max-width : 1420px) {
  .user-info-main {
    padding: 40px 10px;
  }
}

@media (max-width : 1380px) {
  .user-info-main {
    min-width: 250px;
    .avatar-name {
      .avatar {
        img {
          width: 50px;
          height: 50px;
        }
      }
      .name {
        h2 {
          font-size: 18px;
        }
        p {
          font-size: 13px;
        }
      }
    }
    .transactions {
      .list {
        ul {
          li {
            p {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}

@media(max-width : 1230px) {
  .user-info-main {
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: top;
    display: flex;
    padding: 40px 50px;
    .transactions {
      width: 100%;
      .list {
        ul {
          li {
            p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media (max-width : 760px) {
  .user-info-main {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: top;
    width: 100%;
    .balance {
      .contr-total {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
      }
    }
  }
}

@media (max-width : 500px) {
  .user-info-main {
    padding: 40px 20px;
    .avatar-name {
      .avatar {
        img {
          width: 70px;
          height: 70px;
        }
      }
    }
  }
}